.product-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img {
  border-radius: 12px;
}

.main-image {
  width: 100%;
  height: 23rem;
  position: relative;
}

.image-main {
  width: 40rem;
  height: 40rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.image-container {
  display: flex;
  width: 1300%;
  transition: transform 0.25s ease-in-out;
}

.next {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: -2rem;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  cursor: pointer;
  z-index: 7;
}

.next svg {
  stroke: #1d2026;
  transition: all 0.15s;
}

.next:hover svg {
  stroke: hsl(26, 100%, 55%);
}

.previous {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: -2rem;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  cursor: pointer;
  z-index: 7;
}

.previous svg {
  stroke: #1d2026;
  transition: all 0.15s;
}

.previous:hover svg {
  stroke: hsl(26, 100%, 55%);
}

.close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -2rem;
}

.close svg {
  fill: #fff;
  transition: all 0.15s;
}

.close:hover svg {
  fill: hsl(26, 100%, 55%);
}

@media (max-width: 1540px) {
  .image-main {
    width: 35rem;
    height: 35rem;
  }
}

@media (max-width: 430px) {
  .image-main {
    width: 17rem;
    height: 17rem;
  }

  .next {
    width: 2rem;
    height: 2rem;
  }

  .previous {
    width: 2rem;
    height: 2rem;
  }
}
